body {
	margin: 5%;
	font-family: arial;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}



h1 {
	background-color: #800080;
	text-align: center;
	color: white;
}